<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head(${recipe.name})">
</head>

<body>

<nav th:replace="layout :: nav">
</nav>

<div class="grid-container">

    <div th:replace="layout :: flash('grid-100')"></div>

    <div th:fragment="my_recipes_logo"
         class="grid-100">
    </div>

    <div class="grid-100">

        <div class="recipes">

            <div class="grid-100 row controls">
                <div class="grid-50">
                    <h2 th:text="${recipe.name}">
                        Brioche French Toast with Nutella
                    </h2>
                </div>
                <div class="grid-50">
                    <h2 class="flush-right">
                        <!--/* inline form that updates favorite status
                               of recipe for current user. Image is changed
                               depending whether user's recipe is favorite or
                               not. The same applies to button text
                         */-->
                        <form method="post"
                              th:action="@{|/recipes/update-favorite-status-of-recipe/${recipe.id}|}">
                            <img th:src="@{|${favoriteImageSrc}|}"
                                 alt="favorite-icon"
                                 height="16px">
                            <button type="submit"
                                    th:text="${favoriteButtonText}">
                            </button>
                        </form>
                    </h2>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Photo </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        [photo]
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Name </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p th:text="${recipe.name}">
                        Recipe Name
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Description </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                    <p th:text="${recipe.description}">
                        Recipe Description
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Category </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p th:text="${recipe.recipeCategory.name}">
                        Recipe's Category Name
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Prep Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p th:text="${recipe.preparationTime}">
                        Recipe's preparation time
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Cook Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p th:text="${recipe.cookTime}">
                       Recipe's Cook Time
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Ingredients </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <label> Item </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <label> Condition </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <label> Quantity </label>
                    </p>
                </div>

                <div th:each="ingredient : ${recipe.ingredients}"
                     class="ingredient-row">

                    <div class="prefix-20 grid-30">
                        <p th:text="${ingredient.item.name}">
                            Ingredient Name
                        </p>
                    </div>

                    <div class="grid-30">
                        <p th:text="${ingredient.condition}">
                            Ingredient Condition
                        </p>
                    </div>
                    <div class="grid-10 suffix-10">
                        <p th:text="${ingredient.quantity}">
                            Ingredient Quantity
                        </p>
                    </div>
                </div>

            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Steps </label>
                    </p>
                </div>
                <div class="grid-80">
                    <p>
                        <label> Description </label>
                    </p>
                </div>

                <div th:each="step : ${recipe.steps}"
                     class="step-row">
                    <div class="prefix-20 grid-80">
                        <p th:text="${step.description}">
                            1. Crack your eggs and beat them.
                        </p>
                    </div>
                </div>

            </div>

            <div class="clear"></div>

            <div class="row">&nbsp;</div>

        </div> <!-- recipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->

<div th:replace="layout :: scripts"></div>

</body>
</html>
