<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('Recipe Editor | My Recipes')">
</head>

<body>

<nav th:replace="layout :: nav">
</nav>

<div class="grid-container">

    <div th:replace="layout :: flash">
    </div>

    <div th:replace="layout :: my_recipes_logo"
         class="grid-100">
    </div>

    <div class="grid-100">
        <!--/*
            here is ${action}, can be "save", can be "add-new"
        */-->
        <form th:action="@{|${action}|}"
              th:object="${recipe}"
              method="post">

        <div class="recipes">

            <div class="grid-100 row controls">
                <div class="grid-50">
                    <h2> Recipe Editor </h2>
                </div>
                <div class="grid-50">
                    <div class="flush-right">
                        <button th:action="@{|${action}|}"
                                type="submit">
                            Save Recipe
                        </button>
                        <!--/* For now anchor... later
                            will change to button if
                            neccessary
                        */-->
                        <a th:href="@{/recipes}"
                           class="secondary">Cancel</a>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Photo </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <input th:field="*{photoUrl}"
                               placeholder="Url">
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Name </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <input th:field="*{name}">
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Description </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <textarea th:field="*{description}">
                        </textarea>
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Category </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <!--/* TODO: add JS here for color of option
                               to be the same as selected category
                               Also default category is needed to be
                               added
                         */-->
                        <select th:field="*{recipeCategory}"
                                th:class="*{recipeCategory.styleClass}">
                            <!--/* The rest options will be without
                                   the default one
                             */-->
                            <option th:each="category : ${categories}"
                                    th:class="${category.styleClass}"
                                    th:value="${category}"
                                    th:text="${category.name}"
                                    >
                                Category Name
                            </option>
                        </select>
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Prep Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <input th:field="*{preparationTime}"
                               type="text">
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Cook Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <input th:field="*{cookTime}"
                               type="text">
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Ingredients </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p class="label-spacing">
                        <label> Item </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p class="label-spacing">
                        <label> Condition </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Quantity </label>
                    </p>
                </div>

                <!--/* Resolved! : must be *{ingredients} */-->
                <div th:each="ingredient : *{ingredients}" class="ingredient-row">
                    <!--/* Hidden fields will make sure that edited Recipe
                           will not be saved as new one
                     */-->
                    <input type="text" hidden
                           th:field="*{ingredients[__${ingredientStat.index}__].id}">
                    <input type="text" hidden
                           th:field="*{ingredients[__${ingredientStat.index}__].version}">

                    <div class="prefix-20 grid-30">
                        <p>
                            <!--/* TODO: add default select option here or
                                   not ... may be just leave as <input text>
                             */-->
                            <select th:field="*{ingredients[__${ingredientStat.index}__].item.id}">
                                <!--/* In major item select I will pass
                                       object itself as a value
                                       It is a good idea to write
                                       Conversion service ...
                                       TODO: ask Florian about conversion
                                       service
                                 */-->
                                <option th:each="item : ${items}"
                                        th:text="${item.name}"
                                        th:value="${item.id}">
                                    Item Name
                                </option>

                            </select>
                        </p>
                    </div>
                    <div class="grid-30">
                        <p>
                            <input type="text"
                                   th:field="*{ingredients[__${ingredientStat.index}__].condition}">
                        </p>
                    </div>
                    <div class="grid-10 suffix-10">
                        <p>
                            <input type="text"
                                   th:field="*{ingredients[__${ingredientStat.index}__].quantity}">
                        </p>
                    </div>
                    <!--/*This div right here is very important : it makes
                          ingredients differ one from another
                    */-->
                    <div class="clear"></div>
                </div>


                <!--/* TODO: add JS here to add another ingredient */-->
                <div class="prefix-20 grid-80 add-row">
                    <p>
                        <button>+ Add Another Ingredient</button>
                    </p>
                </div>

            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Steps </label>
                    </p>
                </div>
                <div class="grid-80">
                    <p class="label-spacing">
                        <label> Description </label>
                    </p>
                </div>

                <!--/* TODO : test this with *{steps} like Florian ...
                */-->
                <div th:each="step : *{steps}" class="step-row">
                    <input th:field="*{steps[__${stepStat.index}__].id}"
                           type="text"
                           hidden>
                    <input th:field="*{steps[__${stepStat.index}__].version}"
                           type="text"
                           hidden>
                    <div class="prefix-20 grid-80">
                        <p>
                            <input th:field="*{steps[__${stepStat.index}__].description}">
                        </p>
                    </div>
                </div>

                <!--/*TODO : add JS to add another Step */-->
                <div class="prefix-20 grid-80 add-row">
                    <p>
                        <button>+ Add Another Step</button>
                    </p>
                </div>

            </div>

            <div class="clear"></div>


            <div class="row">&nbsp;</div>

        </div> <!-- recipes -->

        </form>
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->

<div th:replace="layout :: scripts"></div>

</body>
</html>
