<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('Recipe Editor | My Recipes')">
</head>

<body>

<nav th:replace="layout :: nav">
</nav>

<div class="grid-container">

    <div th:replace="layout :: my_recipes_logo"
         class="grid-100">
    </div>

    <div th:replace="layout :: flash">
    </div>

    <div class="grid-100">
        <!--/*
            here is ${action}, can be "save", can be "add-new"
        */-->
        <form th:action="@{|${action}|}"
              th:object="${recipe}"
              method="post">

        <!--/* Hidden Recipe.id and Recipe.Version fields
              to make sure we update recipe if we edit
              one
        */-->
        <input th:field="*{id}" hidden type="text">
        <input th:field="*{version}" hidden type="text">

        <div class="recipes">

            <div class="grid-100 row controls">
                <div class="grid-50">
                    <h2> Recipe Editor </h2>
                </div>
                <div class="grid-50">
                    <div class="flush-right">
                        <button th:action="@{|${action}|}"
                                type="submit">
                            Save Recipe
                        </button>
                        <!--/* For now anchor... later
                            will change to button if
                            neccessary
                        */-->
                        <a th:href="@{/recipes}"
                           class="secondary">Cancel</a>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <!--/* photoUrl field */-->

            <div class="grid-100 row">
                <!--/* span with error message */-->
                <span th:errors="*{photoUrl}" class="error">
                </span>
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Photo </label>
                    </p>
                </div>
                <div th:classappend="${#fields.hasErrors('photoUrl')}? 'error' : ''"
                     class="grid-40">
                    <p>
                        <input th:field="*{photoUrl}"
                               th:autofocus="${#fields.hasErrors('photoUrl')}"
                               placeholder="URL">
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="grid-100 row">
                <!--/* span with error message */-->
                <span th:errors="*{name}" class="error">
                </span>
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Name </label>
                    </p>
                </div>
                <div th:classappend="${#fields.hasErrors('name')}? 'error' : ''"
                     class="grid-40">
                    <p>
                        <input th:field="*{name}"
                               th:autofocus="${#fields.hasErrors('name')}"
                        >
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <!--/* Recipe.description field */-->

            <div class="grid-100 row">
                <!--/* span with error message */-->
                <span th:errors="*{description}" class="error">
                </span>
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Description </label>
                    </p>
                </div>
                <div th:classappend="${#fields.hasErrors('description')}? 'error' : ''"
                     class="grid-40">
                    <p>
                        <textarea th:field="*{description}"
                                  th:autofocus="${#fields.hasErrors('description')}"
                        >
                        </textarea>
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <!--/* Recipe.recipeCategory field */-->

            <!--/* For category I will not make a validation
                   because well it can be anything and by
                   default something is selected
            */-->
            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Category </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <!--/* I decide to exclude unselected option
                               I left other as default one. Let it be
                               for now 'category other' is default option
                         */-->
                        <select th:field="*{recipeCategory}"
                                th:autofocus="${#fields.hasErrors('recipeCategory')}"
                                th:class="${recipeCategory == null}? 'category other' : *{recipeCategory.styleClass}">
                            <option th:each="category : ${categories}"
                                    th:class="${category.styleClass}"
                                    th:value="${category}"
                                    th:text="${category.name}"
                                    >
                                Category Name
                            </option>
                        </select>
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <!--/* Recipe.preparationTime field */-->

            <div class="grid-100 row">
                <!--/* span with error message this time with diff class */-->
                <span th:errors="*{preparationTime}"
                      class="error with-grid-20">
                </span>
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Prep Time </label>
                    </p>
                </div>
                <div th:classappend="${#fields.hasErrors('preparationTime')}? 'error' : ''"
                     class="grid-20">
                    <p>
                        <input th:field="*{preparationTime}"
                               th:autofocus="${#fields.hasErrors('preparationTime')}"
                               type="text">
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <!--/* Recipe.cookTime field */-->

            <div class="grid-100 row">
                <!--/* span with error message this time with diff class */-->
                <span th:errors="*{cookTime}"
                      class="error with-grid-20">
                </span>
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Cook Time </label>
                    </p>
                </div>
                <div th:classappend="${#fields.hasErrors('cookTime')}? 'error' : ''"
                     class="grid-20">
                    <p>
                        <input th:field="*{cookTime}"
                               th:autofocus="${#fields.hasErrors('cookTime')}"
                               type="text">
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <!--/* Recipe.ingredient */-->

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Ingredients </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p class="label-spacing">
                        <label> Item </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p class="label-spacing">
                        <label> Condition </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Quantity </label>
                    </p>
                </div>

                <!--/* Resolved! : must be *{ingredients} */-->
                <div th:each="ingredient : *{ingredients}" class="ingredient-row">
                    <!--/* Hidden fields will make sure that edited Recipe
                           will not be saved as new one
                     */-->
                    <input type="text" hidden
                           th:field="*{ingredients[__${ingredientStat.index}__].id}">
                    <input type="text" hidden
                           th:field="*{ingredients[__${ingredientStat.index}__].version}">

                    <!--/*
                        Error message for item, condition and quantity
                        of each ingredient. Divs appear only if errors exist
                    */-->
                    <div th:if="${#fields.hasErrors('ingredients[' + __${ingredientStat.index}__ + '].item')}"
                        class="ingredient-error">
                        <span th:errors="*{ingredients[__${ingredientStat.index}__].item}">
                        </span>
                    </div>
                    <div th:if="${#fields.hasErrors('ingredients[' + __${ingredientStat.index}__ + '].condition')}"
                         class="ingredient-error">
                        <span th:errors="*{ingredients[__${ingredientStat.index}__].condition}">
                        </span>
                    </div>
                    <div th:if="${#fields.hasErrors('ingredients[' + __${ingredientStat.index}__ + '].quantity')}"
                         class="ingredient-error">
                        <span th:errors="*{ingredients[__${ingredientStat.index}__].quantity}">
                        </span>
                    </div>

                    <!--/* div with Ingredients input fields */-->

                    <div th:classappend="${#fields.hasErrors('ingredients[' + __${ingredientStat.index}__ + '].item')}? 'error' : ''"
                         class="prefix-20 grid-30">
                        <p>
                            <!--/* TODO: add default select option here or
                                   not ... may be just leave as <input text>
                             */-->
                            <select th:field="*{ingredients[__${ingredientStat.index}__].item.id}"
                                th:autofocus="${#fields.hasErrors('ingredients[' + __${ingredientStat.index}__ + '].item')}">
                                <!--/* In major item select I will pass
                                       object itself as a value
                                       It is a good idea to write
                                       Conversion service ...
                                       TODO: ask Florian about conversion
                                       service
                                 */-->
                                <!--/* Default option will be considered as
                                       error: "Select Item" option
                                */-->
                                <option
                                        selected
                                        th:text="'Select Item'"
                                        value="0">
                                </option>
                                <option th:each="item : ${items}"
                                        th:text="${item.name}"
                                        th:value="${item.id}">
                                    Item Name
                                </option>

                            </select>
                        </p>
                    </div>
                    <!--/* This class gets error appended to "class"
                            attribute. See closer that we have to
                            use __${}__ inside, otherwise will give
                            error: see here
                            http://stackoverflow.com/questions/31533044/calling-a-method-with-a-variable-using-spring-el-from-thymeleaf
                    */-->
                    <div th:classappend="${#fields.hasErrors('ingredients[' + __${ingredientStat.index}__ + '].condition')}? 'error' : ''"
                         class="grid-30">
                        <p>
                            <input th:field="*{ingredients[__${ingredientStat.index}__].condition}"
                                   th:autofocus="${#fields.hasErrors('ingredients[' + __${ingredientStat.index}__ + '].condition')}"
                                   type="text">
                        </p>
                    </div>
                    <div th:classappend="${#fields.hasErrors('ingredients[' + __${ingredientStat.index}__ + '].quantity')}? 'error' : ''"
                         class="grid-10 suffix-10">
                        <p>
                            <input th:field="*{ingredients[__${ingredientStat.index}__].quantity}"
                                   th:autofocus="${#fields.hasErrors('ingredients[' + __${ingredientStat.index}__ + '].quantity')}"
                                   type="text">
                        </p>
                    </div>
                    <!--/*This div right here is very important : it makes
                          ingredients differ one from another
                    */-->
                    <div class="clear"></div>
                </div>


                <!--/* JS here is up and running
                    to add another ingredient
                    */-->
                <div class="prefix-20 grid-80 add-row">
                    <p>
                        <button id="add-another-ingredient-button">
                            + Add Another Ingredient
                        </button>
                    </p>
                </div>

            </div>

            <div class="clear"></div>

            <!--/* Recipe.steps */-->

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Steps </label>
                    </p>
                </div>
                <div class="grid-80">
                    <p class="label-spacing">
                        <label> Description </label>
                    </p>
                </div>

                <!--/* TODO : test this with *{steps} like Florian ...
                */-->
                <div th:each="step : *{steps}" class="step-row">
                    <!--/* span with error message */-->
                    <span th:errors="*{steps[__${stepStat.index}__].description}">
                    </span>

                    <input th:field="*{steps[__${stepStat.index}__].id}"
                           type="text"
                           hidden>
                    <input th:field="*{steps[__${stepStat.index}__].version}"
                           type="text"
                           hidden>

                    <div th:classappend="${#fields.hasErrors('steps[' + __${stepStat.index}__ + '].description')}? 'error' : ''"
                        class="prefix-20 grid-80">
                        <p>
                            <input th:field="*{steps[__${stepStat.index}__].description}"
                                   th:autofocus="${#fields.hasErrors('steps[' + __${stepStat.index}__ + '].description')}"
                            >
                        </p>
                    </div>
                </div>

                <!--/JS
                        is used to add another Step
                        see function attached to id below
                 */-->
                <div class="prefix-20 grid-80 add-row">
                    <p>
                        <button type="button"
                                id="add-another-step-button">
                            + Add Another Step
                        </button>
                    </p>
                </div>

            </div>

            <div class="clear"></div>


            <div class="row">&nbsp;</div>

        </div> <!-- recipes -->

        </form>
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->

<div th:replace="layout :: scripts"></div>

</body>
</html>
