<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('My Recipes')">
</head>

<body>

<nav th:replace="layout :: nav">
</nav>

<div class="grid-container">


    <div th:replace="layout :: my_recipes_logo"
         class="grid-100">
    </div>

    <div th:replace="layout :: flash('grid-100')"></div>

    <div class="grid-100">

        <div class="recipes">

            <div class="grid-100 row controls">
                <div class="grid-30 with-bottom-padding">
                    <!--/* When
                          category is selected, only
                          recipes of that category are
                          shown. When "Select Category"
                          is chosen then home page with
                          all recipes is shown
                          all logic in app.js file
                     */-->
                    <select class="category"
                            id="select-changing-list-of-recipes">
                        <option selected
                                id="unselected-category-option"
                                class="category">
                            Select Category
                        </option>
                        <option th:each="category : ${categories}"
                                th:selected="${selectedCategory == category}"
                                th:class="${category.styleClass}"
                                th:text="${category.name}">
                            Category Name
                        </option>
                    </select>
                </div>
                <!--/*
                      TODO: implement search by name index page
                      this input should be in form that makes
                      get request ... And I have to read about this more
                      in Thymeleaf docs
                */-->
                <div class="grid-40">
                    <input type="text"
                           placeholder="Search">
                </div>

                <!--/*
                    TODO: Check here for proper Controller path
                    Change anchor here back for button, so
                    that styling is conserved
                */-->
                <div class="grid-30">
                    <div class="flush-right with-add-recipe-button">
                        <a th:href="@{/recipes/add-new}">
                            + Add Recipe
                        </a>
                    </div>
                </div>

            </div>

            <div class="clear"></div>

            <!--/* Recipes rows with edit button and favorite star
                    Also clicking on recipe name should lead to
                    detail page
            */-->

            <div th:each="recipe : ${recipes}"
                 class="grid-100 row addHover">
                <!--/*
                    prints label with recipe category near each recipe,
                    that is clickable, upon click user is redirected to
                    home page with that category
                */-->
                <a th:href="@{'/recipes/?category=' + ${recipe.recipeCategory.htmlName}}"
                   th:text="${recipe.recipeCategory.htmlName}"
                   class="recipe-category-tag"
                   th:classappend="${recipe.recipeCategory.styleClass}">
                </a>
                <a th:href="@{|/recipes/${recipe.id}|}">
                    <div class="grid-70">
                        <p th:text="${recipe.name}">
                            Recipe Name
                        </p>
                        <!--/* Recipe favorite star image unclickable ?
                               TODO: make recipe favorite from index page
                               favoritesWithNullsForNonFavorites array is
                               array
                               with the same number of indices as
                               recipes: indicates for each recipe whether it
                               is favorite or not
                        */-->
                        <img th:if="${favoritesWithNullsForNonFavorites[__${recipeStat.index}__] != null}"
                             th:src="@{/assets/images/favorited.svg}"
                             height="12px">
                        <img th:if="${favoritesWithNullsForNonFavorites[__${recipeStat.index}__] == null}"
                             th:src="@{/assets/images/favorite.svg}"
                             height="12px">
                    </div>
                </a>

                <div class="hoverBlock">
                    <div class="grid-30">
                        <div class="flush-right">
                            <p>
                                <!--/*
                                    old variant: it didn't work :(
                                    <a th:href="@{|/recipes/${recipe.id}/edit|}">
                                */-->
                                <a th:href="@{|/recipes/edit/${recipe.id}|}">
                                    <img th:src="@{/assets/images/edit.svg}"
                                         height="12px">
                                    Edit
                                </a>
                                <form th:action="@{|/recipes/delete/${recipe.id}|}"
                                      method="post"
                                      class="inline">
                                    <img th:src="@{/assets/images/delete.svg}"
                                         height="12px">
                                    <button type="submit">
                                        Delete
                                    </button>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

            </div>

            <div class="clear"></div>

            <div class="row">&nbsp;</div>

        </div> <!-- recipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->

<div th:replace="layout :: scripts"></div>

</body>
</html>
