<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('My Recipes')">
</head>

<body>

<nav th:replace="layout :: nav">
</nav>

<div class="grid-container">


    <div th:replace="layout :: my_recipes_logo"
         class="grid-100">
    </div>

    <div th:replace="layout :: flash"></div>

    <div class="grid-100">

        <div class="recipes">

            <div class="grid-100 row controls">
                <div class="grid-30">
                    <!--/*TODO: add Js here so that when
                          category is selected, only
                          recipes of that category are
                          shown : should work like this:
                          we give JS list, and JQuery does
                          all the rest, by sorting this or that.
                          Probably I'll make those available
                          ../?sort-by-selected=category
                          and Js will execute this. This is
                          the way Treehouse works ... For
                          now I don't know other solutions
                     */-->
                    <select th:class="${defaultCategory.styleClass}">
                        <!--/* This option is for default category
                               only
                        */-->
                        <option th:class="${defaultCategory.styleClass}"
                                th:text="${defaultCategory.name}">
                            Default Category Name
                        </option>
                        <!--/* The rest options will be without
                               the default one
                         */-->
                        <option th:each="otherCategory : ${categoriesWithoutDefaultOne}"
                                th:class="${otherCategory.styleClass}"
                                th:text="${otherCategory.name}">
                            Other Categories Names
                        </option>
                    </select>
                </div>
                <!--/*
                      TODO: implement search by name index page
                      this input should be in form that makes
                      get request ... And I have to read about this more
                      in Thymeleaf docs
                */-->
                <div class="grid-40">
                    <input type="text"
                           placeholder="Search">
                </div>

                <!--/*
                    TODO: Check here for proper Controller path
                    Change anchor here back for button, so
                    that styling is conserved
                */-->
                <div class="grid-30">
                    <div class="flush-right">
                        <a th:href="@{/recipes/add-new}">
                            + Add Recipe
                        </a>
                    </div>
                </div>

            </div>

            <div class="clear"></div>

            <!--/* Recipes rows with edit button and favorite star */-->

            <div th:each="recipe : ${recipes}"
                 class="grid-100 row addHover">

                <a href="detail.html">
                    <div class="grid-70">
                        <p th:text="${recipe.name}">
                            <!--/* Recipe favorite star image unclickable ?
                                   TODO: make recipe favorite from index page
                            */-->
                            <span>
                                <img th:src="@{/images/favorite.svg}"
                                     height="12px">
                            </span>
                            Recipe Name
                        </p>
                    </div>
                </a>

                <div class="hoverBlock">
                    <div class="grid-30">
                        <div class="flush-right">
                            <p>
                                <!--/*
                                    old variant: it didn't work :(
                                    <a th:href="@{|/recipes/${recipe.id}/edit|}">
                                */-->
                                <a th:href="@{|/recipes/edit/${recipe.id}|}">
                                    <img th:src="@{/assets/images/edit.svg}"
                                         height="12px">
                                    Edit
                                </a>
                                <form th:action="@{|/recipes/delete/${recipe.id}|}"
                                      method="post"
                                      class="inline">
                                    <img th:src="@{/assets/images/delete.svg}"
                                         height="12px">
                                    <button type="submit">
                                        Delete
                                    </button>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

            </div>

            <div class="clear"></div>

            <div class="row">&nbsp;</div>

        </div> <!-- recipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->

<div th:replace="layout :: scripts"></div>

</body>
</html>
