<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="layout :: head('Sign-up | My Recipes')">
</head>

<body>

<nav>
    <a th:href="@{/sign-up}">
        Register
    </a>
    &bull;
    <a th:href="@{/login}">
        Login
    </a>
</nav>

<div class="grid-container">

    <div th:replace="layout :: my_recipes_logo"
         class="grid-100">
    </div>

    <div th:replace="layout :: flash('div-surrounding-flash-at-login-page')">
    </div>

    <div class="grid-100">
        <div class="recipes">

            <form id="register"
                  method="post"
                  th:action="@{/sign-up}"
                  th:object="${user}">

                <!--/* name */-->

                <div class="prefix-20 grid-60 suffix-20">
                    <p>
                        <input th:field="*{name}"
                               placeholder="Name">
                    </p>
                </div>
                <div class="clear"></div>

                <!--/* username */-->

                <div class="prefix-20 grid-60 suffix-20">
                    <p>
                        <input th:field="*{username}"
                               placeholder="Username">
                    </p>
                </div>
                <div class="clear"></div>

                <!--/* password */-->

                <div class="div-surrounding-span-with-password-error">
                    <span id="result"></span>
                </div>
                <div class="prefix-20 grid-60 suffix-20">
                    <p>
                        <input id="password"
                               th:field="*{password}"
                               placeholder="Password"
                               type="password">
                    </p>
                </div>

                <div class="clear"></div>

                <!--/* password again */-->

                <div class="prefix-20 grid-60 suffix-20">
                    <p>
                        <input id="match-password"
                               th:field="*{matchingPassword}"
                               placeholder="Password Again"
                               type="password">
                    </p>
                </div>

                <div class="clear"></div>

                <!--/* button */-->

                <div class="prefix-20 grid-60 suffix-20">
                    <p>
                        <button disabled
                                id="sign-up-button"
                                th:action="@{/sign-up}">
                            Sign-up
                        </button>
                    </p>
                </div>

                <div class="clear"></div>

            </form>

        </div> <!-- recipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->

<div th:replace="layout :: scripts"></div>

</body>
</html>
